.header {
  display: flex;
  align-items: center;

  .link {
    display: flex;
    align-items: center;
    color: #0786ff;
    font-weight: bold;
    font-size: 16px;
    margin-left: 13px;

    span {
      margin-right: 4px;
    }
  }

  .clear {
    position: absolute;
    right: 0;
  }
}

.updated {
  font-size: 12px;
  line-height: 15px;
  color: #d2d2d2;
  margin-top: 8px;
  margin-bottom: 14px;
  letter-spacing: 0.6px;
}

.online-container {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 3px 10px rgba(10, 97, 179, 0.1);
  border-radius: 12px;
  margin-top: 16px;
  min-height: 80vh;
  // max-height: 850px;
  padding: 24px 35px 24px 24px;
}

.request-list-container {
  margin-top: 32px;
  overflow-y: auto;
  height: 100%;
}

.search-container {
  width: 246px;
  background: rgba(7, 134, 255, 0.1);
  border: 2px solid rgba(7, 134, 255, 0.2);
  box-sizing: border-box;
  border-radius: 17px;
  padding: 7px 10px;
  display: flex;
  align-items: center;

  input {
    outline: none;
    background-color: unset;
    color: rgba(7, 134, 255, 0.2);

    &::placeholder {
      color: rgba(7, 134, 255, 0.2);
    }
  }
}
