.footernav {
  &-container {
  }

  &-title {
    color: #8E91A3;
    font-size: 18px;
    margin-bottom: 14px;
    
  }

  &-items {
    font-size: 16px;
    color: #505050;
    &a:hover {
      color: #1B2448;
    }
    a {
      display: block;
      text-decoration: none;
      text-align: left;
    }
  }
}
